{% extends "layout.html" %}
{% block main %}
<section class="hero is-primary">
  <div class="hero-head"><div class="container"><nav class="level">
    <div class="level-item has-text-centered"><div>
      <p class="heading">Next team</p>
      <p class="title">{{ nextTeam }}</p>
    </div></div>
    <div class="level-item has-text-centered"><div>
      <p class="heading">Latest pick</p>
      <p class="title">{{ latestPick }}</p>
    </div></div>
    <div class="level-item has-text-centered"><div class="field is-grouped">
      <p class="control">
        <a class="button is-dark" href="{{ url_for('showDraft') }}">Refresh</a>
      </p>
      <p class="control">
        <a class="button is-danger is-outlined" href="{{ url_for('showDraft', analyze=True) }}">Analyze</a>
      </p>
    </div></div>
  </nav></div></div>
  <div class="hero-body"><div class="container"><div class="columns is-multiline">
    {% for move, details in rankings %}
      <div class="column is-4"><div class="card">
        <header class="card-header">
          <p class="card-header-title">
            {{ move }}{% if details %} {{ details }}{% endif %}
          </p>
        </header>
        <div class="card-content">
          <table class="table is-fullwidth">
            <tr><th>Name</th><th>Team</th><th>Pts</th></tr>
            {% for p in freeagents if move in p.positions %}
              {% if loop.index <= 7 %}
              <tr>
                <td>{{ p.name }}</td>
                <td>{{ p.team }}</td>
                <td class="has-text-right">{{ p.points }}</td>
              </tr>
              {% endif %}
            {% else %}
              <tr><th colspan=2 class="has-text-centered">No players left.</th></tr>
            {% endfor %}
          </table>
        </div>
      </div></div>
    {% endfor %}
  </div></div></div>
</section>
{% endblock %}
